
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

.drawbox{

    width:350px;

    position:relative;

    border:2.5px solid #000000;

    border-radius:7px;

    background:white;
    height:300px;

}

.toolbar{
    background:white;

    border:3px solid #000000;

    padding:8px 12px;

    display:flex;

    align-items:center;
    justify-content:center;

    gap:10px;

    border-bottom:none;

    width:150px;

    height:30px;

    margin-left:100px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

#picker{
    position:absolute;
    top:50px;
    right:0;
    display:none;
    background:white;
    border:2px solid #111;
    padding:10px;
    z-index:999;
    pointer-events: none; /* ADD THIS */
}

.colorbutton{

height: 1.1em;
    width: 1.1em;
    border-radius: 50%;
    margin: 0 0.4em;
    background: conic-gradient(from 0deg at 50% 50%, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
}

canvas{

    width: 350px;;
    height:250px;

    display:block;
    border-radius:7px;
}

.submit{

    width:100%;

    height:45px;

    border:none;

    border-top:2px solid #111;

    background:white;

    font-size:1.2rem;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    cursor:pointer;
}

.submit:disabled{

    background:#f4f4f4;

    color:#999;

    letter-spacing:1px;

    cursor:not-allowed;

    position:relative;

}

@keyframes cooldown {
   0% { width: 100%; }
   100% { width: 0; }
}

button{

    background:#fff;

    border:none;
}

#brushSize{

    appearance:none;

    width:40px;
    height:5px;

    background:#ffffff;
    border:1px solid #000000;
    border-radius: 100px;

}

#brushSize::-webkit-slider-thumb{

    appearance:none;

    width:14px;
    height:14px;

    border-radius:50%;

    background:black;

    cursor:pointer;

}

canvas {
    touch-action: none;
}
